@import "tailwindcss";

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes loadingBar {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
html, body {
  overflow-x: hidden;
}